@page
@model IndexModel

@{
  ViewData["Title"] = "Home";
  ViewData["Page"] = "index";
}

<div class="text-center">
  <h1 class="display-4">
    Hi, @ViewData["Name"]
    <br />
    Welcome to DiscoverWeekly Save App
  </h1>

</div>
